<!DOCTYPE html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Error del servidor">
  <title>Error 500</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Se ha producido un error</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-10 m-auto">
        <h4 class="text-center">SITE NAME</h4>
        <div class="text-center my-4">
          <img class="img-fluid" src="/static/logo.png" alt="logo">
        </div>

        <div>
          Se ha enviado un email a la administración informando del error, si el problema continua,
          por favor, ponte en contacto con nosotros a través del email
          <code>webmaster@example.com</code>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
