<footer id="footer" class="footer mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h5>Footer Content</h5>
                <p>You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col-12 col-lg-4 m-auto">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'pages:cookie_consent' %}">Política de cookies</a>
                    </li>
                    <li>
                        <a href="#">Link 2</a>
                    </li>
                    <li>
                        <a href="#">Link 3</a>
                    </li>
                    <li>
                        <a href="#">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row copy">
        <div class="col-md-12">
            <div class="container">
                &copy; 2016-{% now 'Y' %} {{ SITE.name }}
            </div>
        </div>
    </div>
</footer>
