body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 60px;
}

main {
  flex: 1 0 auto;
  margin-bottom: 3rem;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.cursor-pointer {
  cursor: pointer;
}

button {
  @extend .cursor-pointer;
}

[v-cloak] {
  display: none;
}

// Un intermedio entre shadow-sm y shadow de boostrap
.shadow-md {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.12);
}
