{% extends "contact/base_contact.html" %}

{% block title %}- Contact{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">Lista de mensajes de contacto</h1>

        <table class="table table-striped table-sm mt-4">
          <thead class="box box-default">
            <tr>
              <th>Asunto</th>
              <th>Email</th>
              <th>Leído</th>
              <th>Usuario registrado</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            {% for message in contact_list %}
              <tr>
                <td>
                  <i class="fas fa-comment"></i>
                  <a href="{% url 'contact:details' message.pk %}">
                    {{ message.subject|truncatewords:'3' }}
                  </a>
                </td>
                <td>{{ message.email }}</td>
                <td class="text-center">
                  {% if message.has_read %}
                    <i class="fas fa-check text-success"></i>
                  {% else %}
                    <i class="far fa-times-circle text-danger"></i>
                  {% endif %}
                </td>
                <td class="text-center">
                  {% if message.is_register %}
                    <i class="fas fa-check text-success"></i>
                  {% else %}
                    <i class="far fa-times-circle text-danger"></i>
                  {% endif %}
                </td>
                <td>{{ message.create_at }}</td>
              </tr>
            {% empty %}
              <tr>
                <td class="text-center" colspan="5">No hay mensajes de contacto para mostrar</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% include "_pagination.html"  %}
      </div>
    </div>
  </div>
{% endblock content %}
