{% extends "authentication/base_authentication.html" %}
{% load bootstrap4 %}

{% block meta_description %}{{ title }}{% endblock meta_description %}
{% block head_title %}- {{ title }}{% endblock head_title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto shadow-md pb-3">
        <h1 class="title">{{ title }}</h1>

        <div class="alert alert-info alert-icon">
          ¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos
            por correo electrónico las instrucciones para establecer una nueva.
        </div>

        <form method="post" action="">
          {% csrf_token %}
          {% bootstrap_form form %}

          <button class="btn btn-primary btn-xs-block" type="submit">
            <i class="fas fa-unlock-alt"></i> Restablecer mi contraseña
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
