{% extends "authentication/base_authentication.html" %}

{% block meta_description %}{{ title }}{% endblock meta_description %}
{% block head_title %}- {{ title }}{% endblock head_title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <h1 class="title">{{ title }}</h1>

        <p>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que
          existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</p>

        <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo
          con la que se registró y verifique su carpeta de spam.</p>
      </div>
    </div>
  </div>
{% endblock content %}
