{% extends "authentication/base_authentication.html" %}
{% load bootstrap4 %}

{% block meta_description %}{{ title }}{% endblock meta_description %}
{% block head_title %}- {{ title }}{% endblock head_title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto shadow-md pb-3">
        <h1 class="title">{{ title }}</h1>

        {% if validlink %}
          <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>

          <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="col-12">
              <button class="btn btn-primary" type="submit">Cambiar mi contraseña</button>
            </div>
          </form>
        {% else %}
          <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya
            usado antes. Por favor, solicite un nuevo restablecimiento de contraseña.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
