{% extends "authentication/base_authentication.html" %}

{% block meta_description %}{{ title }}{% endblock meta_description %}
{% block head_title %}- {{ title }}{% endblock head_title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto">
        <h1 class="title">{{ title }}</h1>

        <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
        <p>
          <a class="btn btn-primary" href="{% url 'authentication:login' %}">
            <i class="fas fa-sign-in-alt"></i> Iniciar sesión
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
