{% extends "authentication/base_authentication.html" %}
{% load bootstrap4 %}

{% block meta_description %}{{ title }}{% endblock meta_description %}
{% block head_title %}- {{ title }}{% endblock head_title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 m-auto shadow-md pb-3">
        <h1 class="title">{{ title }}</h1>

        <div class="alert alert-info alert-icon">
          Por favor, introduzca su contraseña antigua, por seguridad, y después introduzca la
          nueva contraseña dos veces para verificar que la ha escrito correctamente.
        </div>

        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}

          <button class="btn btn-primary btn-xs-block" type="submit">
              <i class="fas fa-pencil-alt"></i> Cambiar mi contraseña
          </button>
          <a class="btn btn-secondary btn-xs-block" href="{% url 'accounts:profile' %}">
              <i class="fas fa-angle-left"></i> Volver
          </a>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
